.nav{

}

.list{
    list-style:none;
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    box-shadow: 0 2rem 5rem rgba(#000, .16);
}

.item{
    text-decoration: none;
    font-size:1.5rem;
    background:#f7f7f7;
    color:red;
    text-align:center;
    width:50%;
    
    border-radius:1rem;
    transition: all .3s ease-out;
   
    
}

.item:not(:last-child){
    margin-bottom:2rem;
}

.item:hover{
    transform:scale(1.1);
    cursor:pointer;
    background:red;
    color:#fff;
}